export(csvw)
export(read_csvw)
export(write_csvw)
export(validate_csvw)
export(to_json)
export(check_referential_integrity)
export(get_table)

# Register S3 methods
S3method(as.data.frame, csvw_table)
S3method(as.data.frame, csvw_table_group)
S3method(print, csvw)
S3method(to_json, csvw)
S3method(get_table, csvw)
S3method(length, csvw_table_data)
S3method("[[", csvw_table_data)
S3method(as.list, csvw_table_data)
S3method(print, csvw_table_data)


importFrom(utils, unzip)

